@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>

}

@*ColumnChart*@
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({
            url: '/Manage/Chart/ColumnChart',
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (res) {
                var data = JSON.stringify(res);
                ColumnChart(data);
                return false;
            }
        });
        return false;
    }
    function ColumnChart(data) {
        var dataArray = [
            ['Month', 'TotalSale']
        ];
        var json = JSON.parse(data);
        $.each(json, function (i, item) {
            dataArray.push([item.month, item.totalSaleOfMon]);
        });

        var view = new google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: "Total sale in the last 6 month.",
            //width: 900,
            height: 600,
            bar: { groupWidth: "75%" },
            legend: { position: "none" },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById("myColumnChart"));
        chart.draw(view, options);
    }
</script>

@*Area Chart*@

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({
            url: '/Manage/Chart/AreaChart',
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (res) {
                var data = JSON.stringify(res);
                AreaChart(data);
                return false;
            }
        });
        return false;
    }
    function AreaChart(data) {
        var dataArray = [
            ['Month', 'TotalSale', 'Expense']
        ];
        var json = JSON.parse(data);
        $.each(json, function (i, item) {
            dataArray.push([item.month, item.totalSaleOfMon, item.totalExpense]);
        });

        var view = new google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Store Performance',
            height: 600,
            hAxis: { title: 'Month', titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.AreaChart(document.getElementById("myAreaChart"));
        chart.draw(view, options);
    }
</script>

<div class="container-fluid px-4">
    <h1 class="mt-4">Statistical tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Column Chart
    </div>
    <div class="row" id="myColumnChart" style="width:70%;">
    </div>

    <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Area Chart
    </div>
    <div class="row" id="myAreaChart" style="width: 70%; ">
    </div>
</div>