@{
    ViewData["Title"] = "AnonymousFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <p class="text-danger">You are login fail.</p>
    <p class="text-danger">Account already exist.</p>
    <p class="text-danger">If you forget password please click <a href="/Member/ForgetPassword" style="color:red">forget password</a> to reset your password.</p>
</header>