@{
    ViewData["Title"] = "AnonymousSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <p class="text-danger">You are login success.</p>
    <p class="text-danger">Please check your email for account information.</p>
</header>