@model MemberModel.Input.ConfirmEmail
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Forget password?</li>
    </ul>
    <h3> FORGET YOUR PASSWORD?</h3>
    <hr class="soft" />

    <div class="row">
        <div class="span9" style="min-height:900px">
            <div class="well">
                <h5>Reset your password</h5><br />
                Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.<br /><br /><br />
                <form asp-action="ForgetPassword" asp-controller="Member" method="post" class="form-horizontal">
                    <h4>Please enter your email</h4>
                    <div asp-validation-summary="ModelOnly" class="text-error">
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input_email">Email <sup>*</sup></label>
                        <div class="controls">
                            <input type="email" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email" class="text-error"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-large btn-success" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}