@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    #map {
        width: 100%;
        height: 400px;
    }
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!-- playground-hide -->
<script>
    const process = { env: {} };
    process.env.GOOGLE_MAPS_API_KEY =
        "AIzaSyAcQul87Ay8GhaPw6NTkqsmRc82lou0hKo";
</script>
<!-- playground-hide-end -->

<link rel="stylesheet" type="text/css" href="./style.css" />
<script type="module" src="./index.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcQul87Ay8GhaPw6NTkqsmRc82lou0hKo&callback=initMap&v=weekly"
        defer></script>

<div class="row">
    <div class="span5">
        <h4>Contact Details</h4>
        <p>
            37/10, street 41<br /> Linh Dong Ward, Thu Duc City, HCM City
            <br /><br />
            nstore.work@gmail.com<br />
            ﻿Tel 123-456-6780<br />
            Fax 123-456-5679<br />
            web:Nstore.com
        </p>
    </div>

    <div class="span4">
        <h4>Opening Hours</h4>
        <h5> Monday - Friday</h5>
        <p>09:00am - 09:00pm<br /><br /></p>
        <h5>Saturday</h5>
        <p>09:00am - 07:00pm<br /><br /></p>
        <h5>Sunday</h5>
        <p>12:30pm - 06:00pm<br /><br /></p>
    </div>
    <div class="span5">
        <h4>Email Us</h4>
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">

                    <input type="text" placeholder="name" class="input-xlarge" />
                </div>
                <div class="control-group">

                    <input type="text" placeholder="email" class="input-xlarge" />
                </div>
                <div class="control-group">

                    <input type="text" placeholder="subject" class="input-xlarge" />
                </div>
                <div class="control-group">
                    <textarea rows="3" id="textarea" placeholder="Content" class="input-xlarge"></textarea>
                </div>

                <button class="btn btn-large" type="submit">Send Messages</button>
            </fieldset>
        </form>
    </div>
</div>

<div id="map"></div>

<script>
    function initMap() {
        const NStore = { lat: 10.850258, lng: 106.754014 };
        const map = new google.maps.Map(
            document.getElementById("map"),
            {
                zoom: 18,
                center: NStore,
            }
        );

        const contentString =
            '<div id="content">' +
            '<div id="siteNotice">' +
            "</div>" +
            '<h1 id="firstHeading" class="firstHeading">NStore</h1>' +
            '<div id="bodyContent">' +
            "<p><b></b>" +
            "Electronics store" +
            "</p>" +
            "</div>" +
            "</div>";

        const infowindow = new google.maps.InfoWindow({
            content: contentString,
        });

        const marker = new google.maps.Marker({
            position: NStore,
            map,
            title: "Uluru (Ayers Rock)",
        });

        marker.addListener("click", () => {
            infowindow.open({
                anchor: marker,
                map,
                shouldFocus: false,
            });
        });
    }

    window.initMap = initMap;
</script>